{% extends "layout.html" %}

{% block title %}delete{% endblock %}

{% block header %}
    <h1>delete account Page</h1>
{% endblock %}

{% block content %}
    <form action="{{ url_for('login') }}" method="post">  <!-- Change to POST so stuff not visible on url bruh -->
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">delete</button>
    </form>
{% endblock %}
