<!--BASE TEMPLATE FOR OTHER HTML-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}User Auth{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{% block header %}User Auth{% endblock %}</h1>
    </header>
    <section>
        <div class="flashes">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        {% block content %}{% endblock %}
    </section>
    <footer>
        <p>Made by Muhammad Ali</p>
        {% if 'username' in session %}
            <!-- links shown if user logged in -->
            <a href="{{ url_for('delete') }}" class="delete">Delete Account</a>
            <a href="{{ url_for('update') }}" class="update">Update Password</a>
            <a href="{{ url_for('signout') }}" class="signout">Sign Out</a>
        {% else %}
            <!--links shown if user not logged in-->
            <a href="{{ url_for('login') }}" class="login">Login</a>
            <a href="{{ url_for('register') }}" class="register">Register</a>
        {% endif %}
    </footer>
</body>
</html>
