{% extends "layout.html" %}

{% block title %}Login Page{% endblock %}

{% block header %}
    <h1>Login Page</h1>
{% endblock %}

{% block content %}
    <h2>Login to Your Account</h2>

    <form action="{{ url_for('login') }}" method="post">  
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit">Login</button>
    </form>

    <br>
    <a href="{{ url_for('register') }}">Don't have an account? Register here.</a>
{% endblock %}
