{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}User Auth{% endblock %}</title>
    <!-- Use Django static for your stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>{% block header %}User Auth{% endblock %}</h1>
    </header>
    <section class="main-content">
        <div class="flashes">
            <!-- Django messages -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        {% block content %}{% endblock %}
    </section>
    <footer>
        <p>Stock Scraper and Sentiment Analysis. This is a tool, not a substitute for financial advice or decision-making. Use Responsibly.</p>
        {% if user.is_authenticated %}
            <!-- If you are storing your username in a variable, you can also display it here -->
            <!-- e.g. Hello, {{ username }} -->
            <a href="{% url 'update' %}" class="whiten">Update Password</a> |
            <a href="{% url 'delete' %}" class="whiten">Delete Account</a> |
            <a href="{% url 'signout' %}" class="whiten">Sign Out</a>
        {% else %}
            <a href="{% url 'login' %}" class="whiten">Login</a> |
            <a href="{% url 'register' %}" class="whiten">Register</a>
        {% endif %}
    </footer>

    <!-- Use Django static for your JS -->
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
