{% extends "layout.html" %}

{% block title %}Registration Page{% endblock %}

{% block header %}
    <h1>Register Page</h1>
{% endblock %}

{% block content %}
    <h2>Create a New Account</h2>

    <form action="{{ url_for('register') }}" method="post" id="registerForm">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="registerUsername" name="username" required>
        </div>

        <div>
            <label for="password">Password:</label> <!--if i want to set a minumum see script.js-->
            <input type="password" id="registerPassword" name="password" required>
            <input type="checkbox" id="toggleRegPassword"> Show Password
        </div>

        <button type="submit">Register</button>
    </form>

    <br>
    <div class="white-bg">
        <a href="{{ url_for('login') }}">Already have an account? Login here</a>
    </div>
{% endblock %}
