{% extends "layout.html" %}
{% block title %}Delete Account{% endblock %}
{% block header %}
    <h1>Delete Account</h1>
{% endblock %}

{% block content %}
    <h2>Are you sure you want to delete your account?</h2>
    <form action="{{ url_for('delete') }}" method="post" id="deleteForm">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="deleteUsername" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="deletePassword" name="password" required>
        </div>
        <button type="submit">Delete Account</button>
    </form>
    <br>
    <a href="{{ url_for('home') }}">Go back to Home</a>
{% endblock %}
